extends layout

block content
    div(class="row")
        div(class="col s6 offset-s3")
            div(class="form-login center")
                h2 Login
                form(method="post", action="/users/auth")
                    div(class="input-field col s12")
                        input(type="text", class="validate", name="username", placeholder="Usuario:")
                    div(class="input-field col s12")
                        input(type="password", class="validate", name="password", placeholder="Senha:")
                    div(class="input-field col s12")
                        button(type="submit", class="btn-flat teal") Login
