extends layout

block content
    div(class="row")
        div(class="col s7 offset-s2")
            div(class="panel center")
                h2 List of tasks
                table
                    thead
                        tr
                            th Name
                            th Done
                    tbody
                        tr
                            td task1
                            td true
